@font-face {
    font-family: 'Plover';
    src: url('../fonts/plover-webfont.eot');
    src: url('../fonts/plover-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plover-webfont.woff') format('woff'),
         url('../fonts/plover-webfont.ttf') format('truetype'),
         url('../fonts/plover-webfont.svg#ploverregular') format('svg');
    font-weight: normal;
    font-style: normal;
}