footer {
	clear: both;

	small {
		color: #fff;
		font-family: "Times";
		font-size: 13px;
	}

	position: relative;
	width: 600px;
	margin: 0 0 0 auto;
	text-align: center;

	.main ~ & {
		width: 400px;
		margin: 0 auto;
	}

}