.title {
	background-color: $background-color;
	border: 2px solid $border-color;
	border-radius: 15px 15px 15px 0;

	h1 {
		background: url("../images/seplogo.gif") no-repeat top center;
		font-family: "Verdana";
		font-size: 23px;
		font-weight: bold;
		color: $title-color;
		text-align: center;
		line-height: 1em;
		padding-top: 91px - 23px;
		margin: 16px 0 16px;
	}
}

.title__hosted {
	position: absolute;
	top: 16px; right: 16px;
}

.title__game {
	position: absolute;
	top: 16px; left: 16px;
	border: 2px solid white;
}