<nav class="nav">
<h1>Das Spiel</h1>
<ul>
	<li><a href="#">Story & Info</a></li>
	<li><a href="#">Die Welt</a></li>
	<li><a href="#">Helden</a></li>
	<li><a href="#">Gegner</a></li>
	<li><a href="#">Fate Cards</a></li>
	<li><a href="#">Equipment</a></li>
	<li><a href="#">NPCs</a></li>
	<li><a href="#">FAQs</a></li>
	<li><a href="#">Hilfe Sektion</a></li>
	<li><a href="#">Archiv</a></li>
	<li><a href="#">News</a></li>
	<li><a href="#">Texte</a></li>
	<li><a href="#">Bilder</a></li>
	<li><a href="#">Files</a></li>
</ul>

<h1>Community</h1>
<ul>
	<li><a href="#">Links</a></li>
	<li><a href="#">United Forum</a></li>
	<li><a href="#">Lith Forum</a></li>
	<li><a href="#">TopWare Boards</a></li>
</ul>

<h1>Interaktiv</h1>
<ul>
	<li><a href="#">Home</a></li>
	<li><a href="#">Overview</a></li>
	<li><a href="#">Site Info</a></li>
	<li><a href="#">Kontakt</a></li>
</ul>

<h1>Affiliates</h1>
<ul>
	<li><a href="#">Haven</a>
	<li><a href="#">FFRessourcen</a>
	<li><a href="#">RPGOnline</a>
</ul>
</nav>