<article class="news">
	<time pubdate datetime="1999-12-31" class="news__time">31. Dezember 1999</time>
	<h1>Site Update</h1>
	<address>- <a href="mailto:stefan@caped.at" rel="author">ddprrt</a></address> <time pubdate datetime="1999-12-31 00:40:00">@ 0.40 CET</time>
	<p>
		Es ist sehr erstaunlich, das damals Links und ein WinAmp Skin tatsächlich Thema waren.
	</p>
	<p class="center"><img src="images/winamp_s.jpg" alt="WinAmp Skin!"></p>
	<p>
		Und bei den Links ging es hauptsächlich um eine <a href="http://twitter.com">Community</a> bestehend aus ca. 10 Personen.
	</p>
	<a class="back-to-top" href="#top">zurück zum Anfang</a>
</article>