<header class="title">
	<h1>Shell 2</h1>
	<aside class="title__hosted"><a href="http://gzone.de"><img src="images/gzone-big.gif" alt="Hosted by GZone"></a></aside>
	<aside class="title__game"><a href="http://septerra.de"><img src="images/sepsmall.jpg" alt="Hosted by GZone"></a></aside>
</header>